.main{
    color: white;
    width: 100%;
    color: antiquewhite;
    display: flex;
    box-sizing: border-box;
}
.signup{
    width: 40%;
    text-align: center;
    padding-top: 70px ;
}

.header{
    text-align: center;
}

.header h1 {
    margin: 0;
}

.header h4{
    margin: 0;
    color: rgba(245, 236, 236, 0.588);
    padding-bottom: 40px;
}
.image{
    width: 60%;
}
.image img{
    width: 100%;
    height: 100vh;
}
.tag{
    padding-bottom: 30px;
}
#outlined-basic{
    color: white;
    background-color: rgba(229, 227, 227, 0.131);
    padding-bottom: 10px;
}

#btn{
    width: 47%;
}