/* Category Add  */
.category-main {
  width: 100%;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}
.category-add {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.box {
  width: 80%;
  height: 96vh;
  border-radius: 25px;
}
.category-add h1 {
  font-size: 200%;
  color: aliceblue;
  padding-top: 80px;
}

.tag {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}
#category-Btn {
  width: 30%;
}
