.ex-image {
  text-align: center;
}
.ex-image img {
  margin-top: 10px;
  width: 25%;
  background-color: #5c8d78;
  padding: 4px;
  border-radius: 20px;
}
.ex-image h5 {
  color: aliceblue;
  padding-top: 5px;
  margin: 0%;
  padding-bottom: 5px;
}

.ex-categories {
  color: aliceblue;
  text-align: center;
}
